*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

/*Navbar*/

nav{
    background-color: rgb(15,15,15);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    width: 100%;
    top: 0;
}

nav .section1 , .section2 , .section3{
    background-color: rgb(15, 15, 15);
}

nav .section1{
    width: 25%;
}

nav .section2{
    position: relative;
    width: 50%;
}

nav .section3{
    width: 25%;
}

/*Logo + Aside*/

nav .section1 input:checked ~ aside{
    display: flex;
}

nav .section1 #menu{
    display: none;
}

nav aside{
    background-color: rgb(15,15,15);
    display: none;
    position: fixed;
    width: 240px;
    height: 100vh;
    align-content: center;
}

nav .section1 aside button{
    border: none;
    color: aliceblue;
    background-color: rgb(15, 15, 15);
    font-size: 15px;
    padding: 15px 20px 15px 20px;
    width: 200px;
    height: 40px;
    display: block;
}

/*Buscador*/

nav .section2 input{
    border-radius: 40px 0px 0px 40px;
    background-color: rgb(15, 15, 15);
    padding: 5px 20px 5px 12px;
    border: 2px solid rgb(48, 48, 48, 1);
    width: 400px;
    height: 45px;
}

nav .section2 #buscar{
    background-color: black;
    border: 2px solid rgb(48, 48, 48, 1);
    padding: 5px;
    border-radius: 0px 40px 40px 0px;
    position: absolute;
    top: 0px;
    left: 400px;
    height: 45px;
    width: 60px;
}

nav .section2 #micro{
    background-color: black;
    border: 2px solid rgb(48, 48, 48, 1);
    padding: 5px;
    border-radius: 90%;
    right: 515px;
    position: absolute;
    height: 45px;
    width: 45px;
}

/*Iconos finales de nav*/

nav .section3 #subir , #notificaciones , #cuenta{
    background-color: rgb(15, 15, 15);
    border-color: gray;
    padding: 5px;
    border-radius: 90%;
}

/*Videos*/

main{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    padding-left: 120px;
    margin-top: 85px;
}

main div{
    width: 500px;
    height: 300px;
    background-color: white;
}

#mini_menu{
    background-color: rebeccapurple;
    height: 100vh;
    width: 100px;
    position: fixed;
    z-index: 1;
}

